<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunbot.windog.mapper.auto.StockPoolMapper">
  <resultMap id="BaseResultMap" type="com.yunbot.windog.model.auto.StockPool">
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="act" jdbcType="INTEGER" property="act" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="cur_price" jdbcType="DECIMAL" property="curPrice" />
    <result column="vbeg" jdbcType="DECIMAL" property="vbeg" />
    <result column="vend" jdbcType="DECIMAL" property="vend" />
    <result column="lastend" jdbcType="DECIMAL" property="lastend" />
    <result column="vhigh" jdbcType="DECIMAL" property="vhigh" />
    <result column="vlow" jdbcType="DECIMAL" property="vlow" />
    <result column="vtotal" jdbcType="DECIMAL" property="vtotal" />
    <result column="vamount" jdbcType="DECIMAL" property="vamount" />
    <result column="vol1" jdbcType="INTEGER" property="vol1" />
    <result column="vol2" jdbcType="INTEGER" property="vol2" />
    <result column="vol3" jdbcType="INTEGER" property="vol3" />
    <result column="vol4" jdbcType="INTEGER" property="vol4" />
    <result column="vol5" jdbcType="INTEGER" property="vol5" />
    <result column="vol6" jdbcType="INTEGER" property="vol6" />
    <result column="vol7" jdbcType="INTEGER" property="vol7" />
    <result column="vol8" jdbcType="INTEGER" property="vol8" />
    <result column="vol9" jdbcType="INTEGER" property="vol9" />
    <result column="vol10" jdbcType="INTEGER" property="vol10" />
    <result column="vol11" jdbcType="INTEGER" property="vol11" />
    <result column="vol12" jdbcType="INTEGER" property="vol12" />
    <result column="vol13" jdbcType="INTEGER" property="vol13" />
    <result column="vol14" jdbcType="INTEGER" property="vol14" />
    <result column="vol15" jdbcType="INTEGER" property="vol15" />
    <result column="list" jdbcType="VARCHAR" property="list" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List">
	  	  	      	sid,
       	  	      	code,
       	  	      	cname,
       	  	      	grade,
       	  	      	act,
       	  	      	update_dt,
       	  	      	cur_price,
       	  	      	vbeg,
       	  	      	vend,
       	  	      	lastend,
       	  	      	vhigh,
       	  	      	vlow,
       	  	      	vtotal,
       	  	      	vamount,
       	  	      	vol1,
       	  	      	vol2,
       	  	      	vol3,
       	  	      	vol4,
       	  	      	vol5,
       	  	      	vol6,
       	  	      	vol7,
       	  	      	vol8,
       	  	      	vol9,
       	  	      	vol10,
       	  	      	vol11,
       	  	      	vol12,
       	  	      	vol13,
       	  	      	vol14,
       	  	      	vol15,
       	  	      	list,
       	  	    	  	description
       	</sql>
  <select id="selectByExample" parameterType="com.yunbot.windog.model.auto.StockPoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_pool
    where sid = #{sid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock_pool
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunbot.windog.model.auto.StockPoolExample">
    delete from stock_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.yunbot.windog.model.auto.StockPool">
    insert into stock_pool (
      	  	       sid,
       	  	       code,
       	  	       cname,
       	  	       grade,
       	  	       act,
       	  	       update_dt,
       	  	       cur_price,
       	  	       vbeg,
       	  	       vend,
       	  	       lastend,
       	  	       vhigh,
       	  	       vlow,
       	  	       vtotal,
       	  	       vamount,
       	  	       vol1,
       	  	       vol2,
       	  	       vol3,
       	  	       vol4,
       	  	       vol5,
       	  	       vol6,
       	  	       vol7,
       	  	       vol8,
       	  	       vol9,
       	  	       vol10,
       	  	       vol11,
       	  	       vol12,
       	  	       vol13,
       	  	       vol14,
       	  	       vol15,
       	  	       list,
       	  	    	  description
       	    )
    values (
	  	  	      	#{sid,jdbcType=INTEGER},
       	  	      	#{code,jdbcType=VARCHAR},
       	  	      	#{cname,jdbcType=VARCHAR},
       	  	      	#{grade,jdbcType=INTEGER},
       	  	      	#{act,jdbcType=INTEGER},
       	  	      	#{updateDt,jdbcType=TIMESTAMP},
       	  	      	#{curPrice,jdbcType=DECIMAL},
       	  	      	#{vbeg,jdbcType=DECIMAL},
       	  	      	#{vend,jdbcType=DECIMAL},
       	  	      	#{lastend,jdbcType=DECIMAL},
       	  	      	#{vhigh,jdbcType=DECIMAL},
       	  	      	#{vlow,jdbcType=DECIMAL},
       	  	      	#{vtotal,jdbcType=DECIMAL},
       	  	      	#{vamount,jdbcType=DECIMAL},
       	  	      	#{vol1,jdbcType=INTEGER},
       	  	      	#{vol2,jdbcType=INTEGER},
       	  	      	#{vol3,jdbcType=INTEGER},
       	  	      	#{vol4,jdbcType=INTEGER},
       	  	      	#{vol5,jdbcType=INTEGER},
       	  	      	#{vol6,jdbcType=INTEGER},
       	  	      	#{vol7,jdbcType=INTEGER},
       	  	      	#{vol8,jdbcType=INTEGER},
       	  	      	#{vol9,jdbcType=INTEGER},
       	  	      	#{vol10,jdbcType=INTEGER},
       	  	      	#{vol11,jdbcType=INTEGER},
       	  	      	#{vol12,jdbcType=INTEGER},
       	  	      	#{vol13,jdbcType=INTEGER},
       	  	      	#{vol14,jdbcType=INTEGER},
       	  	      	#{vol15,jdbcType=INTEGER},
       	  	      	#{list,jdbcType=VARCHAR},
       	  	    	  #{description,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.yunbot.windog.model.auto.StockPool">
    insert into stock_pool
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="sid != null">
        sid,
      </if>
      
         
      <if test="code != null">
        code,
      </if>
      
         
      <if test="cname != null">
        cname,
      </if>
      
         
      <if test="grade != null">
        grade,
      </if>
      
         
      <if test="act != null">
        act,
      </if>
      
         
      <if test="updateDt != null">
        update_dt,
      </if>
      
         
      <if test="curPrice != null">
        cur_price,
      </if>
      
         
      <if test="vbeg != null">
        vbeg,
      </if>
      
         
      <if test="vend != null">
        vend,
      </if>
      
         
      <if test="lastend != null">
        lastend,
      </if>
      
         
      <if test="vhigh != null">
        vhigh,
      </if>
      
         
      <if test="vlow != null">
        vlow,
      </if>
      
         
      <if test="vtotal != null">
        vtotal,
      </if>
      
         
      <if test="vamount != null">
        vamount,
      </if>
      
         
      <if test="vol1 != null">
        vol1,
      </if>
      
         
      <if test="vol2 != null">
        vol2,
      </if>
      
         
      <if test="vol3 != null">
        vol3,
      </if>
      
         
      <if test="vol4 != null">
        vol4,
      </if>
      
         
      <if test="vol5 != null">
        vol5,
      </if>
      
         
      <if test="vol6 != null">
        vol6,
      </if>
      
         
      <if test="vol7 != null">
        vol7,
      </if>
      
         
      <if test="vol8 != null">
        vol8,
      </if>
      
         
      <if test="vol9 != null">
        vol9,
      </if>
      
         
      <if test="vol10 != null">
        vol10,
      </if>
      
         
      <if test="vol11 != null">
        vol11,
      </if>
      
         
      <if test="vol12 != null">
        vol12,
      </if>
      
         
      <if test="vol13 != null">
        vol13,
      </if>
      
         
      <if test="vol14 != null">
        vol14,
      </if>
      
         
      <if test="vol15 != null">
        vol15,
      </if>
      
         
      <if test="list != null">
        list,
      </if>
      
         
      <if test="description != null">
        description,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
          <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
          <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
          <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
          <if test="act != null">
        #{act,jdbcType=INTEGER},
      </if>
          <if test="updateDt != null">
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
          <if test="curPrice != null">
        #{curPrice,jdbcType=DECIMAL},
      </if>
          <if test="vbeg != null">
        #{vbeg,jdbcType=DECIMAL},
      </if>
          <if test="vend != null">
        #{vend,jdbcType=DECIMAL},
      </if>
          <if test="lastend != null">
        #{lastend,jdbcType=DECIMAL},
      </if>
          <if test="vhigh != null">
        #{vhigh,jdbcType=DECIMAL},
      </if>
          <if test="vlow != null">
        #{vlow,jdbcType=DECIMAL},
      </if>
          <if test="vtotal != null">
        #{vtotal,jdbcType=DECIMAL},
      </if>
          <if test="vamount != null">
        #{vamount,jdbcType=DECIMAL},
      </if>
          <if test="vol1 != null">
        #{vol1,jdbcType=INTEGER},
      </if>
          <if test="vol2 != null">
        #{vol2,jdbcType=INTEGER},
      </if>
          <if test="vol3 != null">
        #{vol3,jdbcType=INTEGER},
      </if>
          <if test="vol4 != null">
        #{vol4,jdbcType=INTEGER},
      </if>
          <if test="vol5 != null">
        #{vol5,jdbcType=INTEGER},
      </if>
          <if test="vol6 != null">
        #{vol6,jdbcType=INTEGER},
      </if>
          <if test="vol7 != null">
        #{vol7,jdbcType=INTEGER},
      </if>
          <if test="vol8 != null">
        #{vol8,jdbcType=INTEGER},
      </if>
          <if test="vol9 != null">
        #{vol9,jdbcType=INTEGER},
      </if>
          <if test="vol10 != null">
        #{vol10,jdbcType=INTEGER},
      </if>
          <if test="vol11 != null">
        #{vol11,jdbcType=INTEGER},
      </if>
          <if test="vol12 != null">
        #{vol12,jdbcType=INTEGER},
      </if>
          <if test="vol13 != null">
        #{vol13,jdbcType=INTEGER},
      </if>
          <if test="vol14 != null">
        #{vol14,jdbcType=INTEGER},
      </if>
          <if test="vol15 != null">
        #{vol15,jdbcType=INTEGER},
      </if>
          <if test="list != null">
        #{list,jdbcType=VARCHAR},
      </if>
          <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.yunbot.windog.model.auto.StockPoolExample" resultType="java.lang.Long">
    select count(*) from stock_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update stock_pool
    <set>
          <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
          <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
          <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
          <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
          <if test="record.act != null">
        act = #{record.act,jdbcType=INTEGER},
      </if>
          <if test="record.updateDt != null">
        update_dt = #{record.updateDt,jdbcType=TIMESTAMP},
      </if>
          <if test="record.curPrice != null">
        cur_price = #{record.curPrice,jdbcType=DECIMAL},
      </if>
          <if test="record.vbeg != null">
        vbeg = #{record.vbeg,jdbcType=DECIMAL},
      </if>
          <if test="record.vend != null">
        vend = #{record.vend,jdbcType=DECIMAL},
      </if>
          <if test="record.lastend != null">
        lastend = #{record.lastend,jdbcType=DECIMAL},
      </if>
          <if test="record.vhigh != null">
        vhigh = #{record.vhigh,jdbcType=DECIMAL},
      </if>
          <if test="record.vlow != null">
        vlow = #{record.vlow,jdbcType=DECIMAL},
      </if>
          <if test="record.vtotal != null">
        vtotal = #{record.vtotal,jdbcType=DECIMAL},
      </if>
          <if test="record.vamount != null">
        vamount = #{record.vamount,jdbcType=DECIMAL},
      </if>
          <if test="record.vol1 != null">
        vol1 = #{record.vol1,jdbcType=INTEGER},
      </if>
          <if test="record.vol2 != null">
        vol2 = #{record.vol2,jdbcType=INTEGER},
      </if>
          <if test="record.vol3 != null">
        vol3 = #{record.vol3,jdbcType=INTEGER},
      </if>
          <if test="record.vol4 != null">
        vol4 = #{record.vol4,jdbcType=INTEGER},
      </if>
          <if test="record.vol5 != null">
        vol5 = #{record.vol5,jdbcType=INTEGER},
      </if>
          <if test="record.vol6 != null">
        vol6 = #{record.vol6,jdbcType=INTEGER},
      </if>
          <if test="record.vol7 != null">
        vol7 = #{record.vol7,jdbcType=INTEGER},
      </if>
          <if test="record.vol8 != null">
        vol8 = #{record.vol8,jdbcType=INTEGER},
      </if>
          <if test="record.vol9 != null">
        vol9 = #{record.vol9,jdbcType=INTEGER},
      </if>
          <if test="record.vol10 != null">
        vol10 = #{record.vol10,jdbcType=INTEGER},
      </if>
          <if test="record.vol11 != null">
        vol11 = #{record.vol11,jdbcType=INTEGER},
      </if>
          <if test="record.vol12 != null">
        vol12 = #{record.vol12,jdbcType=INTEGER},
      </if>
          <if test="record.vol13 != null">
        vol13 = #{record.vol13,jdbcType=INTEGER},
      </if>
          <if test="record.vol14 != null">
        vol14 = #{record.vol14,jdbcType=INTEGER},
      </if>
          <if test="record.vol15 != null">
        vol15 = #{record.vol15,jdbcType=INTEGER},
      </if>
          <if test="record.list != null">
        list = #{record.list,jdbcType=VARCHAR},
      </if>
          <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update stock_pool
    set
            	     	 sid = #{record.sid,jdbcType=INTEGER},
    	         	     	 code = #{record.code,jdbcType=VARCHAR},
    	         	     	 cname = #{record.cname,jdbcType=VARCHAR},
    	         	     	 grade = #{record.grade,jdbcType=INTEGER},
    	         	     	 act = #{record.act,jdbcType=INTEGER},
    	         	     	 update_dt = #{record.updateDt,jdbcType=TIMESTAMP},
    	         	     	 cur_price = #{record.curPrice,jdbcType=DECIMAL},
    	         	     	 vbeg = #{record.vbeg,jdbcType=DECIMAL},
    	         	     	 vend = #{record.vend,jdbcType=DECIMAL},
    	         	     	 lastend = #{record.lastend,jdbcType=DECIMAL},
    	         	     	 vhigh = #{record.vhigh,jdbcType=DECIMAL},
    	         	     	 vlow = #{record.vlow,jdbcType=DECIMAL},
    	         	     	 vtotal = #{record.vtotal,jdbcType=DECIMAL},
    	         	     	 vamount = #{record.vamount,jdbcType=DECIMAL},
    	         	     	 vol1 = #{record.vol1,jdbcType=INTEGER},
    	         	     	 vol2 = #{record.vol2,jdbcType=INTEGER},
    	         	     	 vol3 = #{record.vol3,jdbcType=INTEGER},
    	         	     	 vol4 = #{record.vol4,jdbcType=INTEGER},
    	         	     	 vol5 = #{record.vol5,jdbcType=INTEGER},
    	         	     	 vol6 = #{record.vol6,jdbcType=INTEGER},
    	         	     	 vol7 = #{record.vol7,jdbcType=INTEGER},
    	         	     	 vol8 = #{record.vol8,jdbcType=INTEGER},
    	         	     	 vol9 = #{record.vol9,jdbcType=INTEGER},
    	         	     	 vol10 = #{record.vol10,jdbcType=INTEGER},
    	         	     	 vol11 = #{record.vol11,jdbcType=INTEGER},
    	         	     	 vol12 = #{record.vol12,jdbcType=INTEGER},
    	         	     	 vol13 = #{record.vol13,jdbcType=INTEGER},
    	         	     	 vol14 = #{record.vol14,jdbcType=INTEGER},
    	         	     	 vol15 = #{record.vol15,jdbcType=INTEGER},
    	         	     	 list = #{record.list,jdbcType=VARCHAR},
    	         	     	 description = #{record.description,jdbcType=VARCHAR}
    	         <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.yunbot.windog.model.auto.StockPool">
    update stock_pool
    <set>
                          <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
                      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
                      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
                      <if test="act != null">
        act = #{act,jdbcType=INTEGER},
      </if>
                      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
                      <if test="curPrice != null">
        cur_price = #{curPrice,jdbcType=DECIMAL},
      </if>
                      <if test="vbeg != null">
        vbeg = #{vbeg,jdbcType=DECIMAL},
      </if>
                      <if test="vend != null">
        vend = #{vend,jdbcType=DECIMAL},
      </if>
                      <if test="lastend != null">
        lastend = #{lastend,jdbcType=DECIMAL},
      </if>
                      <if test="vhigh != null">
        vhigh = #{vhigh,jdbcType=DECIMAL},
      </if>
                      <if test="vlow != null">
        vlow = #{vlow,jdbcType=DECIMAL},
      </if>
                      <if test="vtotal != null">
        vtotal = #{vtotal,jdbcType=DECIMAL},
      </if>
                      <if test="vamount != null">
        vamount = #{vamount,jdbcType=DECIMAL},
      </if>
                      <if test="vol1 != null">
        vol1 = #{vol1,jdbcType=INTEGER},
      </if>
                      <if test="vol2 != null">
        vol2 = #{vol2,jdbcType=INTEGER},
      </if>
                      <if test="vol3 != null">
        vol3 = #{vol3,jdbcType=INTEGER},
      </if>
                      <if test="vol4 != null">
        vol4 = #{vol4,jdbcType=INTEGER},
      </if>
                      <if test="vol5 != null">
        vol5 = #{vol5,jdbcType=INTEGER},
      </if>
                      <if test="vol6 != null">
        vol6 = #{vol6,jdbcType=INTEGER},
      </if>
                      <if test="vol7 != null">
        vol7 = #{vol7,jdbcType=INTEGER},
      </if>
                      <if test="vol8 != null">
        vol8 = #{vol8,jdbcType=INTEGER},
      </if>
                      <if test="vol9 != null">
        vol9 = #{vol9,jdbcType=INTEGER},
      </if>
                      <if test="vol10 != null">
        vol10 = #{vol10,jdbcType=INTEGER},
      </if>
                      <if test="vol11 != null">
        vol11 = #{vol11,jdbcType=INTEGER},
      </if>
                      <if test="vol12 != null">
        vol12 = #{vol12,jdbcType=INTEGER},
      </if>
                      <if test="vol13 != null">
        vol13 = #{vol13,jdbcType=INTEGER},
      </if>
                      <if test="vol14 != null">
        vol14 = #{vol14,jdbcType=INTEGER},
      </if>
                      <if test="vol15 != null">
        vol15 = #{vol15,jdbcType=INTEGER},
      </if>
                      <if test="list != null">
        list = #{list,jdbcType=VARCHAR},
      </if>
                      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
              </set>
    where 
            sid = #{sid,jdbcType=INTEGER}
                                                                                                                                                                                                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.yunbot.windog.model.auto.StockPool">
    update stock_pool
    set 
             	        	    	 			code = #{code,jdbcType=VARCHAR},
		     	        	    	 			cname = #{cname,jdbcType=VARCHAR},
		     	        	    	 			grade = #{grade,jdbcType=INTEGER},
		     	        	    	 			act = #{act,jdbcType=INTEGER},
		     	        	    	 			update_dt = #{updateDt,jdbcType=TIMESTAMP},
		     	        	    	 			cur_price = #{curPrice,jdbcType=DECIMAL},
		     	        	    	 			vbeg = #{vbeg,jdbcType=DECIMAL},
		     	        	    	 			vend = #{vend,jdbcType=DECIMAL},
		     	        	    	 			lastend = #{lastend,jdbcType=DECIMAL},
		     	        	    	 			vhigh = #{vhigh,jdbcType=DECIMAL},
		     	        	    	 			vlow = #{vlow,jdbcType=DECIMAL},
		     	        	    	 			vtotal = #{vtotal,jdbcType=DECIMAL},
		     	        	    	 			vamount = #{vamount,jdbcType=DECIMAL},
		     	        	    	 			vol1 = #{vol1,jdbcType=INTEGER},
		     	        	    	 			vol2 = #{vol2,jdbcType=INTEGER},
		     	        	    	 			vol3 = #{vol3,jdbcType=INTEGER},
		     	        	    	 			vol4 = #{vol4,jdbcType=INTEGER},
		     	        	    	 			vol5 = #{vol5,jdbcType=INTEGER},
		     	        	    	 			vol6 = #{vol6,jdbcType=INTEGER},
		     	        	    	 			vol7 = #{vol7,jdbcType=INTEGER},
		     	        	    	 			vol8 = #{vol8,jdbcType=INTEGER},
		     	        	    	 			vol9 = #{vol9,jdbcType=INTEGER},
		     	        	    	 			vol10 = #{vol10,jdbcType=INTEGER},
		     	        	    	 			vol11 = #{vol11,jdbcType=INTEGER},
		     	        	    	 			vol12 = #{vol12,jdbcType=INTEGER},
		     	        	    	 			vol13 = #{vol13,jdbcType=INTEGER},
		     	        	    	 			vol14 = #{vol14,jdbcType=INTEGER},
		     	        	    	 			vol15 = #{vol15,jdbcType=INTEGER},
		     	        	    	 			list = #{list,jdbcType=VARCHAR},
		     	        	    	 			description = #{description,jdbcType=VARCHAR}
		     	        where 
            sid = #{sid,jdbcType=INTEGER}
                                                                                                                                                                                                                                                            
  </update>
  
                                                                                                                                                               
</mapper>